@media screen {
	.bodyhome {
		background: #000;
		color: #DDD;
		font-family: 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
	}
	.border,
	.rain{
		height: 170px;
		width: 320px;
	}
	/* Layout with mask */
	.logo {
		height: 100px;
		margin: 0 auto;
		width: 320px;
		text-align: center;
	}
	.logo img {
		margin-top: 20px;
	}
	.rain {
		 padding: 10px 12px 12px 10px;
		 -moz-box-shadow: 10px 10px 10px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
		 -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
		 box-shadow: 3px 3px 8px 6px rgba(0,0,0,1) inset, -3px -3px 8px 6px rgba(0,0,0,1) inset;
		 margin: 0px auto;
	}
	/* Artifical "border" to clear border to bypass mask */
	.border{
		padding: 1px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
}

@media (max-width: 980px) {
	.bodyhome {
		background: #000;
		color: #DDD;
		font-family: 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
		width: 850px;
		margin: 0px auto;
	}
	.border,
	.rain{
		width: 800px;
		height: 290px;
	}
	/* Layout with mask */
	.logo {
		width: 800px;
		height: auto;
		margin: 0px auto;
		text-align: center;
	}
	.logo img {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 700px;
	}
	.rain {
		 padding: 10px 12px 12px 10px;
		 -moz-box-shadow: 10px 10px 10px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
		 -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
		 box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
		 margin: 0px auto;
	}
	/* Artifical "border" to clear border to bypass mask */
	.border{
		padding: 1px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
}
	

	.border,
	.rain,
	.border.start,
	.rain.start{
		background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
		background-position: 0 0, 0 0, 0 0, 0 0;
		/* Blue-ish Green Fallback for Mozilla */
		/* background-image: -moz-linear-gradient(left, #09BA5E 0%, #00C7CE 15%, #3472CF 26%, #00C7CE 48%, #0CCF91 91%, #09BA5E 100%); */
		/* Add "Highlight" Texture to the Animation */
		background-image: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,.3)), color-stop(23%,rgba(0,0,0,.1)), color-stop(40%,rgba(255,231,87,.1)), color-stop(61%,rgba(255,231,87,.2)), color-stop(70%,rgba(255,231,87,.1)), color-stop(80%,rgba(0,0,0,.1)), color-stop(100%,rgba(0,0,0,.25)));
		/* Starting Color */
		background-color: #39f;
		/* Just do something for IE-suck */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BA1B', endColorstr='#00BA1B',GradientType=1 );
	}

	/* Non-keyframe fallback animation */
	.border.end,
	.rain.end{
		-moz-transition-property: background-position;  
		-moz-transition-duration: 30s;
		-moz-transition-timing-function: linear;
		-webkit-transition-property: background-position;  
		-webkit-transition-duration: 30s;  
		-webkit-transition-timing-function: linear;
		-o-transition-property: background-position;  
		-o-transition-duration: 30s;  
		-o-transition-timing-function: linear;
		transition-property: background-position;  
		transition-duration: 30s;  
		transition-timing-function: linear;
		background-position: -5400px 0, -4600px 0, -3800px 0, -3000px 0;	
	}

	/* Keyfram-licious animation */
	@-webkit-keyframes colors {
		0% {background-color: #39f;}
		15% {background-color: #F246C9;}
		30% {background-color: #4453F2;}
		45% {background-color: #44F262;}
		60% {background-color: #F257D4;}
		75% {background-color: #EDF255;}
		90% {background-color: #F20006;}
		100% {background-color: #39f;}
	}
	@-moz-keyframes colors {
		0% {background-color: #39f;}
		15% {background-color: #F246C9;}
		30% {background-color: #4453F2;}
		45% {background-color: #44F262;}
		60% {background-color: #F257D4;}
		75% {background-color: #EDF255;}
		90% {background-color: #F20006;}
		100% {background-color: #39f;}
	}
	@keyframes colors {
		0% {background-color: #39f;}
		15% {background-color: #F246C9;}
		30% {background-color: #4453F2;}
		45% {background-color: #44F262;}
		60% {background-color: #F257D4;}
		75% {background-color: #EDF255;}
		90% {background-color: #F20006;}
		100% {background-color: #39f;}
	}
	.border,.rain{
		-webkit-animation-direction: normal;
		-webkit-animation-duration: 20s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-name: colors;
		-webkit-animation-timing-function: ease;
		
		-moz-animation-direction: normal;
		-moz-animation-duration: 20s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-name: colors;
		-moz-animation-timing-function: ease;
		
		animation-direction: normal;
		animation-duration: 20s;
		animation-iteration-count: infinite;
		animation-name: colors;
		animation-timing-function: ease;
	}

	/* In-Active State Style */
	.border.unfocus{
		background: #333 !important;	
		 -moz-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
		 -webkit-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
		 box-shadow: 0px 0px 15px rgba(255,255,255,.2);
		 -webkit-animation-name: none;
	}
	.rain.unfocus{
		background: #000 !important;	
		-webkit-animation-name: none;
	}

@media screen {
	/* Regular Form Styles */
	form{
		background: #212121;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		height: 100%;
		width: 100%;
		background: -moz-radial-gradient(50% 46% 90deg,circle closest-corner, #242424, #090909);
		background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#242424), to(#090909));
	}
	form label{
		display: block;
		padding: 10px 10px 5px 15px;
		font-size: 11px;
		color: #777;
	}
	form input, textarea{
		display: block;
		margin: 5px 10px 10px 15px;
		width: 85%;
		background: #111;
		-moz-box-shadow: 0px 0px 4px #000 inset;
		-webkit-box-shadow: 0px 0px 4px #000 inset;
		box-shadow: 0px 0px 4px #000 inset;
		outline: 1px solid #333;
		border: 1px solid #000;
		padding: 5px;
		color: #444;
		font-size: 16px;
	}
	form input:focus, textarea:focus{
		outline: 1px solid #555;
		color: #FFF;
	}
	input[type="submit"]{
		color: #999;
		padding: 5px 10px;
		float: right;
		position: relative;
		top: 30px;
		border: 1px solid #000;
		font-weight: lighter;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background: #45484d;
		background: -moz-linear-gradient(top, #222 0%, #111 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#111));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22222', endColorstr='#11111',GradientType=0 );
		-moz-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
		-webkit-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
		box-shadow: 0px 1px 1px #000,0px 1px 0px rgba(255,255,255,.3) inset;
		text-shadow: 0 1px 1px #000;
		outline: none;
		width: 100px;
		font-size: 12px;
	}
	
	.submit {
		height: 35px;
	}
	
	/*Estilo da pop-up*/
	#popup {
		position: fixed;
		top: 50%;
		margin-top: -250px;
		left:50%;
		margin-left: -200px;
		width: 400px; /*largura da pop-up*/
		height: 400px; /*altural da pop-up*/
		padding: 04px 04px 04px 04px;
		border-width: 1px;
		border-style: solid;
		/* background: #ffffffff; */
		background: rgba(211,211,211,0.2);
		display: none;
		z-index: 989;
		border-radius: 04px;

		box-shadow: 0 0 100px #000000;
		-moz-box-shadow: 0 0 100px #000000;
		-o-box-shadow: 0 0 100px #000000;
		-webkit-box-shadow: 0 0 100px #000000;
	}

	.popupInner {
		width: 400px; /*largura da area interna da pop-up*/
		height: 370px; /*altural da area interna da pop-up*/
		/* background: #ffffff; */
		overflow: none;
	}
	.popupInner label {
		position: relative;
		float: left;
		width: 15%;
		margin: 0px;
		text-align: right;
		/* margin-bottom: 5px; */
	}
	.popupInner input {
		position: relative;
		width: 70%;
		margin: 0px;
		margin-bottom: 5px;
	}
	.popupInner textarea {
		position: relative;
		width: 75%;
		margin: 0px;
		margin-bottom: 10px;
	}
	.popupInner input[type="submit"] {
		width: auto;
		top: 0px;
		right: 15px;
	}
	.titulo {
		padding-top: 5px;
		width: 100%;
		text-align: center;
		font-size: 26px;
		color: #777;
		margin-top: 15px;
	}
	.inform {
		width: 100%;
		text-align: center;
		font-size: 12px;
		color: #777;
		margin-top: -20px;
	}
	
	.contato {
		/* background-color: white; */
		position: absolute;
		bottom: 10px;
		margin: 0 auto;
		width: 99%;
		text-align: center;
		font-size: 11px;
		color: #777;
	}

	.linkcontato {
		font-size: 11px;
		color: #777;
	}
}

@media (max-width: 980px) {
	/* Regular Form Styles */
	form{
		background: #212121;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		width: 100%;
		height: 100%;
		background: -moz-radial-gradient(50% 46% 90deg,circle closest-corner, #242424, #090909);
		background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#242424), to(#090909));
		/* padding-bottom: 10px; */
	}
	form label{
		display: block;
		padding: 10px 10px 5px 15px;
		font-size: 42px;
		color: #777;
	}
	form input, textarea{
		display: block;
		margin: 5px 10px 10px 15px;
		width: 95%;
		background: #111;
		-moz-box-shadow: 0px 0px 4px #000 inset;
		-webkit-box-shadow: 0px 0px 4px #000 inset;
		box-shadow: 0px 0px 4px #000 inset;
		outline: 1px solid #333;
		border: 1px solid #000;
		padding: 5px;
		color: #444;
		font-size: 38px;
	}
	form input:focus, textarea:focus{
		outline: 1px solid #555;
		color: #FFF;
	}
	input[type="submit"]{
		color: #999;
		padding: 5px 10px;
		float: right;
		margin-top: 10px;
		margin-bottom: 0px;
		margin-left: 1px;
		border: 1px solid #000;
		font-weight: lighter;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background: #45484d;
		background: -moz-linear-gradient(top, #222 0%, #111 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#111));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22222', endColorstr='#11111',GradientType=0 );
		-moz-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
		-webkit-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
		box-shadow: 0px 1px 1px #000,0px 1px 0px rgba(255,255,255,.3) inset;
		text-shadow: 0 1px 1px #000;
		outline: none;
		width: auto;
		font-size: 42px;
	}
	
	/*Estilo da pop-up*/
	#popup {
		position: fixed;
		top: 50%;
		margin-top: -315px;
		left:50%;
		margin-left: -350px;
		width: 700px; /*largura da pop-up*/
		height: 630px; /*altural da pop-up*/
		padding: 04px 04px 04px 04px;
		border-width: 1px;
		border-style: solid;
		/* background: #ffffffff; */
		background: rgba(211,211,211,0.2);
		z-index: 989;
		border-radius: 04px;

		box-shadow: 0 0 100px #000000;
		-moz-box-shadow: 0 0 100px #000000;
		-o-box-shadow: 0 0 100px #000000;
		-webkit-box-shadow: 0 0 100px #000000;
	}

	.popupInner {
		width: 700px; /*largura da area interna da pop-up*/
		height: 600px; /*altural da area interna da pop-up*/
		background: #ffffff;
	}
	.popupInner label {
		font-size: 30px;
		position: relative;
		float: left;
		width: 25%;
		margin: 0px;
		text-align: right;
		/* margin-bottom: 5px; */
	}
	.popupInner input {
		position: relative;
		width: 65%;
		margin: 0px;
		margin-bottom: 10px;
	}
	.popupInner textarea {
		position: relative;
		width: 68%;
		height: 200px;
		margin: 0px;
		margin-bottom: 10px;
	}
	.popupInner input[type="submit"] {
		font-size: 25px;
		width: auto;
		top: 0px;
		right: 25px;
	}
	.titulo {
		padding-top: 15px;
		width: 100%;
		text-align: center;
		font-size: 46px;
		color: #777;
		margin-top: 15px;
	}
	.inform {
		width: 100%;
		text-align: center;
		font-size: 21px;
		color: #777;
		margin-top: -40px;
	}
	
	.submit {
		height: 100px;
	}
	
	.contato {
		/* background-color: white; */
		position: relative;
		bottom: 10px;
		margin: 0 auto;
		width: 99%;
		text-align: center;
		font-size: 18px;
		color: #777;
	}

	.linkcontato {
		font-size: 18px;
		color: #777;
	}
}